[submodule "third_party/dav1d"]
	path = third_party/dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "third_party/libavif"]
	path = third_party/libavif
	url = https://github.com/AOMediaCodec/libavif.git
[submodule "third_party/libtiff"]
	path = third_party/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "third_party/expat"]
	path = third_party/expat
	url = https://github.com/libexpat/libexpat.git
[submodule "third_party/exiv2"]
	path = third_party/exiv2
	url = https://github.com/Exiv2/exiv2.git
[submodule "third_party/lcms2"]
	path = third_party/lcms2
	url = https://github.com/mm2/Little-CMS
