[submodule "third_party/dav1d"]
	path = third_party/dav1d
	url = https://code.videolan.org/videolan/dav1d.git
[submodule "third_party/libavif"]
	path = third_party/libavif
	url = https://github.com/AOMediaCodec/libavif.git
[submodule "third_party/libtiff"]
	path = third_party/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
